language: node_js
os:
  - linux
  - osx
env:
  - MOZ_HEADLESS=1
addons:
  firefox: latest
  chrome: stable
node_js:
  - "10"
  - "8"
script:
  - npm run coverage
  - npm run test-chrome
  - npm run test-firefox
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then npm run test-safari; fi
  - codecov
