language: node_js
os:
  - linux
  - osx
node_js:
  - "10"
  - "9"
  - "8"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run coverage
  - npm run test-chrome
  - npm run test-firefox
  - codecov
