{!
  should evaluate implicit calls to and correctly
!}

    {! true !}    {! true !}
<if something and somethingElse>
  <p>should render</p>
</if>
<else>
  <p>and: false</p>
</else>

    {! false !}    {! false !}
<if doesntexist and alsodoesntexist>
  <p>should not render</p>
</if>
<else>
  <p>and: false</p>
</else>

    {! true !}    {! false !}
<if something and doesntexist>
  <p>should not render</p>
</if>
<else>
  <p>and: false</p>
</else>

    {! false !}     {! true !}
<if doesntexist and something>
  <p>should not render</p>
</if>
<else>
  <p>and: false</p>
</else>

