{!
  should evaluate <if something> as true and the nested <if not:somethingElse> as false, triggering the nested <else> condition
!}
<if something>
  <if not:somethingElse>
    <p>The variable 'somethingElse' is not present but 'something' is</p>
  </if>
  <else>
    <p>The variable 'something' and 'somethingElse' are both present</p>
  </else>
</if>
<elseif somethingElse>
  <p>The variable 'somethingElse' is present but 'something' is not</p>
</elseif>
<else>
  <p>The variable 'something' is not present and the variable 'somethingElse' is not present</p>
</else>
