{!
  should evaluate xor correctly using explicit values
!}

    {! false !}                {! false !}
<if something='No content' xor doesntexist>
  <p>should not render</p>
</if>
<else>
  <p>xor: false</p>
</else>

    {! false !}     {! false !}
<if doesntexist xor something='No content'>
  <p>should not render</p>
</if>
<else>
  <p>xor: false</p>
</else>

    {! true !}                   {! true !}
<if something='Some content' xor somethingMore='More content'>
  <p>should render</p>
</if>
<else>
  <p>xor: false</p>
</else>

    {! false !}                  {! true !}
<if something='Some content' xor doesntexist>
  <p>should render</p>
</if>
<else>
  <p>xor: false</p>
</else>

    {! false !}   {! true !}
<if doesntexist xor something='Some content'>
  <p>should render</p>
</if>
<else>
  <p>xor: false</p>
</else>
