<footer class="site-footer">
  <p class="note">${input.footer.note}</p>
  <ul class="footer-links">
    <for|link| of=input.footer.links>
      <li><a href=link.href>${link.label}</a></li>
    </for>
  </ul>
  <p class="copyright">${input.site.copyright}</p>
</footer>
