<footer class="site-footer">
  <p class="note">{{footer.note}}</p>
  <ul class="footer-links">
    {{#footer.links}}
      <li><a href="{{href}}">{{label}}</a></li>
    {{/footer.links}}
  </ul>
  <p class="copyright">{{site.copyright}}</p>
</footer>
